body {
  background: radial-gradient(
      circle at 10% 20%,
      rgb(222, 168, 248) 0%,
      rgb(168, 222, 248) 21.8%,
      rgb(189, 250, 205) 35.6%,
      rgb(243, 250, 189) 52.9%,
      rgb(250, 227, 189) 66.8%,
      rgb(248, 172, 172) 90%,
      rgb(254, 211, 252) 99.7%
    )
    no-repeat fixed;
}

h1 {
  text-align: center;
  font-size: 44px;
  padding-top: 50px;
  background: #cfcf0e;
  background: linear-gradient(to right, #cfcf0e 0%, #cf72c6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

select {
  width: 70%;
  padding: 8px;
  border-radius: 6px;
  margin: 5px;
  font-size: 18px;
  opacity: 0.8;
  color: #b86de7;
}

h2 {
  margin: 0 0 10px;
  font-size: 26px;
  color: #eca39d;
}

footer {
  text-align: center;
  margin-top: -40px;
}

.citySelect {
  display: block;
  margin: 0 auto;
}

.container {
  margin: 100px auto;
  background-color: rgb(253, 253, 253);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  box-shadow: rgba(28, 23, 24, 0.2) 0px 8px 30px;
}
.citiesDisplayed {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  padding-left: 60px;
}

.time {
  font-size: 40px;
  padding-right: 40px;
  color: #b6cbf8;
  font-weight: 300;
}

.date {
  color: #d9ba4a;
  opacity: 0.8;
}
